[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
tensorflow = "*"
plotly = "*"
seaborn = "*"
matplotlib = "*"
nbformat = "*"
scipy = "*"
split-folders = "*"

[dev-packages]

[requires]
python_version = "3.10"
